<div>
    <div id="FeatureTable">
        <label>Feature Table Example:</label><br>
        <!--
        <button id="Polyline" type="button">Polyline</button>
        <button id="FreehandPolyline" type="button">Freehand Polyline</button> 
-->
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnFeatureTable" data-dojo-attach-event="click:onFeatureTable">Feature Table</button>
        <br>

        <br>     
        <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnClearFeatureTable" data-dojo-attach-event="click:onClearFeatureTable">Clear</button>
           
    </div>  
</div>
